{{#each model as |composition|}}
  <div class='l--flex'>
    <div>{{composition.title}}</div>
    {{#link-to 'admin.compositions.edit' composition.id class='l--m-l-20'}}
      Edit
    {{/link-to}}
    <button {{action 'delete' composition}} class='l--m-l-20'>
      Delete
    </button>
  </div>
{{/each}}

{{#link-to 'admin.compositions.new' class='l--m-l-20'}}
  New Composition
{{/link-to}}
