$header-font: 'Coustard', serif;
$subheader-font: 'Libre Baskerville', serif;
$main-font: 'Forum', cursive;

$border-radius-standard: 2px;
$border-radius-circle: 50%;
$box-shadow-standard: 0px 0px 12px 0px rgba(0,0,0,0.2);

// ----------- Color Palette -----------  \\

$color-background: #ffffed;
$color-text: #444;

$color-link: $color-text;
$color-link-hover: #222;

$color-error: red;
