{{top-nav}}
<div class='l--p-a-20'>
  <div class='l--flex'>
    <div class='l--p-r-30'>
      <h1> Admin </h1>
      {{#link-to 'admin.compositions' class='admin__nav-link'}}
        music
      {{/link-to}}
      {{#link-to 'admin.movies' class='admin__nav-link'}}
        movies
      {{/link-to}}
      {{#link-to 'admin.photo-albums' class='admin__nav-link'}}
        photos
      {{/link-to}}

    </div>
    <div class='l--full-width'>
      {{outlet}}
    </div>
  </div>
</div>
