<div class='score-wrapper'>
  {{#link-to 'main.music.index' class='score-close'}}
    <img src='/assets/close.png' alt='close' class='score-close__icon'>
  {{/link-to}}
  {{score-viewer composition=model}}
</div>
