<div class='score-wrapper'>
  <div class='score'>
    <div></div>
    {{#each sortedPages as |page|}}
      <div>
        <div class='page__inner'>
          {{cloudinary-img
          cloudinaryId=page.cloudinaryId}}
        </div>
      </div>
    {{/each}}
    {{#if showExtraBlankPage}}
      <div></div>
    {{/if}}
  </div>
  {{audio-player handleTimeUpdate=(action 'handleRecordingTimeUpdate') recording=composition.recording}}
</div>
