<div></div>
{{#each sortedPages as |page|}}
  <div>
    <div class='page__inner'>
      {{cloudinary-img
        cloudinaryId=page.cloudinaryId
        width=pageWidth
        height=pageHeight
      }}
    </div>
  </div>
{{/each}}
{{#if showExtraBlankPage}}
  <div></div>
{{/if}}
