<div class="audio-player">
  <div class="audio-player__play-pause amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause"></div>
	<div class="audio-player__time-and-progress">
		<div class="audio-player__current-time">
			<span class="amplitude-current-minutes" amplitude-main-current-minutes="true"></span>:<span class="amplitude-current-seconds" amplitude-main-current-seconds="true"></span>
		</div>
		<progress class="audio-player__progress-bar amplitude-song-played-progress" amplitude-main-song-played-progress="true" id="song-played-progress">
		</progress>
		<div class="audio-player__end-time">
			<span class="amplitude-duration-minutes" amplitude-main-duration-minutes="true"></span>:<span class="amplitude-duration-seconds" amplitude-main-duration-seconds="true"></span>
		</div>
  </div>
</div>
